.dashboard {
  width: 100%;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.112);
  overflow-y: hidden;

  .content{
    width: 100%;
    height: 92vh;
    display: flex;
  }
}


@media only screen and (min-width: 320px) and (max-width: 480px){
.dashboard {
  width: 100%;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.112);
  overflow-y: hidden;

  .content{
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: column;
  }
}
}


@media only screen and (min-width: 481px) and (max-width: 768px){
.dashboard {
  width: 100%;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.112);
  overflow-y: hidden;

  .content{
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: column;
  }
}
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
.dashboard {
  width: 100%;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.112);
  overflow-y: hidden;

  .content{
    width: 100%;
    height: 92vh;
    display: flex;
  }
}
}

@media only screen and (min-width: 1025px) and (max-width: 1200px){
.dashboard {
  width: 100%;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.112);
  overflow-y: hidden;

  .content{
    width: 100%;
    height: 92vh;
    display: flex;
  }
}
}


@media only screen and (min-width: 1201px) and (max-width: 1250px){
.dashboard {
  width: 100%;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.112);
  overflow-y: hidden;

  .content{
    width: 100%;
    height: 92vh;
    display: flex;
  }
}
}